/*Rust Legacy icon Icon size 75\65\30 px*/

.rc_75 {width: 75px;height: 75px;background: url(../img/items_75x75.png)}
.rc_65 {width: 65px;height: 65px;background: url(../img/items_65x65.png)}
.rc_30 {width: 30px;height: 30px;background: url(../img/imets_30x30.png)}

.rc_75, .rc_65, .rc_30{
    display: inline-block;
    padding: 0;
    border: 0;
    border-radius: 5px;
}
button.rc_75, button.rc_65, button.rc_30{
    margin: 1px;
}

.mm_Ammo {background-position: 0 0}
.mm_Pistol {background-position: -100% 0}
.Ammo {background-position: -200% 0}
.Animal_Fat {background-position: -300% 0}
.Anti-Radiation_Pills {background-position: -400% 0}
.Arrow {background-position: -500% 0}
.Bandage {background-position: -600% 0}
.Bed {background-position: -700% 0}
.Blood {background-position: -800% 0}
.Bolt_Action_Rifle {background-position: -900% 0}
.Camp_Fire {background-position: 0 -100%}
.Charcoal {background-position: -100% -100%}
.Cloth {background-position: -200% -100%}
.Cloth_Boots {background-position: -300% -100%}
.Cloth_Helmet {background-position: -400% -100%}
.Cloth_Pants {background-position: -500% -100%}
.Cloth_Vest {background-position: -600% -100%}
.Cooked_Chicken_Breast {background-position: -700% -100%}
.Explosive_Charge {background-position: -800% -100%}
.Explosives {background-position: -900% -100%}
.F1_Grenade {background-position: 0 -200%}
.Flare {background-position: -100% -200%}
.Flashlight_Mod {background-position: -200% -200%}
.Furnace {background-position: -300% -200%}
.Gunpowder {background-position: -400% -200%}
.HandCannon {background-position: -500% -200%}
.Handmade_Lockpick {background-position: -600% -200%}
.Handmade_Shell {background-position: -700% -200%}
.Hatchet, .Uber_Hatchet {background-position: -800% -200%}
.Holo_sight {background-position: -900% -200%}
.Hunting_Bow, .Uber_Hunting_Bow {background-position: -0px -300%}
.Kevlar_Boots {background-position: -100% -300%}
.Kevlar_Helmet {background-position: -200% -300%}
.Kevlar_Pants {background-position: -300% -300%}
.Kevlar_Vest {background-position: -400% -300%}
.Large_Medkit {background-position: -500% -300%}
.Large_Spike_Wall {background-position: -600% -300%}
.Large_Wood_Storage {background-position: -700% -300%}
.Laser_Sight {background-position: -800% -300%}
.Leather {background-position: -900% -300%}
.Leather_Boots {background-position: 0 -400%}
.Leather_Vest {background-position: -100% -400%}
.Leather_Helmet {background-position: -200% -400%}
.Leather_Pants {background-position: -300% -400%}
.Low_Grade_Fuel {background-position: -400% -400%}
.Low_Quality_Metal {background-position: -500% -400%}
.M4 {background-position: -600% -400%}
.Metal_Ceiling {background-position: -700% -400%}
.Metal_Door {background-position: -800% -400%}
.Metal_Doorway {background-position: -900% -400%}
.Metal_Foundation {background-position: 0 -500%}
.Metal_Fragments {background-position: -100% -500%}
.Metal_Ore {background-position: -200% -500%}
.Metal_Pillar {background-position: -300% -500%}
.Metal_Ramp {background-position: -400% -500%}
.Metal_Stairs {background-position: -500% -500%}
.Metal_Wall {background-position: -600% -500%}
.Metal_Window {background-position: -700% -500%}
.Metal_Window_Bars {background-position: -800% -500%}
.MP5A4 {background-position: -900% -500%}
.P250 {background-position: 0 -600%}
.Pick_Axe {background-position: -100% -600%}
.Pipe_Shotgun {background-position: -200% -600%}
.Rad_Suit_Boots, .Invisible_Boots {background-position: -300% -600%}
.Rad_Suit_Helmet, .Invisible_Helmet {background-position: -400% -600%}
.Rad_Suit_Pants, .Invisible_Pants {background-position: -500% -600%}
.Rad_Suit_Vest, .Invisible_Vest {background-position: -600% -600%}
.Repair_Bench {background-position: -700% -600%}
.Research_Kit_1 {background-position: -800% -600%}
.Revolver {background-position: -900% -600%}
.Shotgun {background-position: 0 -700%}
.Shotgun_Shells {background-position: -100% -700%}
.Silencer {background-position: -200% -700%}
.Sleeping_Bag {background-position: -300% -700%}
.Small_Medkit {background-position: -400% -700%}
.Small_Stash {background-position: -500% -700%}
.Spike_Wall {background-position: -600% -700%}
.Stone_Hatchet {background-position: -700% -700%}
.Stones {background-position: -800% -700%}
.Sulfur {background-position: -900% -700%}
.Sulfur_Ore {background-position: 0 -800%}
.Supply_Signal {background-position: -100% -800%}
.Wood {background-position: -200% -800%}
.Wood_Barricade {background-position: -300% -800%}
.Wood_Ceiling {background-position: -400% -800%}
.Wood_Doorway {background-position: -500% -800%}
.Wood_Foundation {background-position: -600% -800%}
.Wood_Gate {background-position: -700% -800%}
.Wood_Gateway {background-position: -800% -800%}
.Wood_Pillar {background-position: -900% -800%}
.Wood_Planks {background-position: 0 -900%}
.Wood_Ramp {background-position: -100% -900%}
.Wood_Shelter {background-position: -200% -900%}
.Wood_Stairs {background-position: -300% -900%}
.Wood_Storage_Box {background-position: -400% -900%}
.Wood_Wall {background-position: -500% -900%}
.Wood_Window {background-position: -600% -900%}
.Wooden_Door {background-position: -700% -900%}
.Workbench {background-position: -800% -900%}
.None {background-position: -900% -900%}
.Torch {background-position: -0% -1000%}