button::-moz-focus-inner,input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

#rc_entities, #rc_inventory, #rc_craft, #rc_entities *, #rc_inventory *, #rc_craft * {
	font-family: Calibri, sans-serif;
	color: #ccc;
	font-size: 14px;
}

#rc_entities, #rc_inventory, #rc_craft{
	background-color: #2F2D2E;
	padding: 5px 0 5px 3px;
	-webkit-box-shadow: 1px 1px 2px 0 #000000;
	box-shadow: 1px 1px 2px 0 #000000;
}

#rc_inventory {
	padding-left: 12px;
}

/* #rc_entities */
#rc_entities p, #rc_inventory p, #rc_craft p {
	margin: 0 0 10px 5px;
	font-size: 10px !important;
}

#rc_entities .rc_select, #rc_inventory_button .rc_select{
	margin: 0 0 10px 5px;
	width: 97%;
	height: 33px;
	overflow: hidden;
	/*background-color: #1D1D1D;*/
	background-color: #161616;
}
#rc_entities .rc_select select, #rc_inventory_button .rc_select select{
    width: 109%;
	padding: 5px;
	font-size: 14px;
	/*border: 1px solid #1D1D1D;*/
	border: 1px solid #161616;
	height: 30px;
	color: #ccc;
    /*background: #1D1D1D url("/images/arrow.png") no-repeat 91% 0px;*/
    background: #161616 url("../images/arrow.png") no-repeat 91% 0px;
}
#rc_entities .rc_select select:active{}

#rc_entities .rc_entity {
	display: inline-block;
	position: relative;
	width: 130px;
	margin: 0 5px 10px 5px;
	-webkit-box-shadow: 1px 1px 2px 0 #000000;
	box-shadow: 1px 1px 2px 0 #000000;
}

#rc_entities .rc_entity_img, #rc_inventory .rc_entity {
	position: relative;
	background-color: #1D1D1D;
	width: 65px;
	height: 65px;
	border: 0;
	text-align: center;
	padding: 0;
}

.rc_entity_count {
	position: absolute;
	bottom: 2px;
	right: 2px;
	z-index: 1;
	font-size: 9px !important;
    line-height: 8px;
	color: #ccc;
	text-shadow: 1px 1px 2px #000000;
}

#rc_entities .rc_entity_plus {
	position: absolute;
	top: 0;
	background-color: #2F2D2E;
	width: 65px;
	height: 65px;
	text-align: center;
	border: 0;
	border-left: 1px solid #333;
	font-size: 18px !important;
	color: #ccc;
	text-shadow: 1px 1px 2px #000000;
}

.rc_entity_button {
	height: 25px;
}

.rc_entity_button button, #rc_inventory_button button {
	background-color: #161616;
	height: 25px !important;
	width: 50%;
	vertical-align: middle;
	text-align: center;
	border: 0;
	border-top: 1px solid #333;
	font-size: 10px !important;
	color: #ccc;
	text-shadow: 1px 1px 2px #000000;
}

.rc_entity_button .rc_entity_minus {
	font-size: 20px !important;
}

.rc_entity_button .clear {
	font-size: 10px !important;
}

/* #rc_craft */
#rc_craft ul {
	list-style: none;
	margin: 0 0 0 5px;
	padding: 0;
}

#rc_craft ul li {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 14px;
	text-shadow: 1px 1px 2px #000000;
}

#rc_craft ul li span.rc_30 {
	vertical-align: middle;
	margin-right: 10px;
}

#rc_craft ul li span {
	color: #CE412B;
}

#rc_craft .rc_open_sub {
	position: relative;
	top: -1px;
	display: inline-block;
	cursor: pointer;
	height: 15px;
	width: 15px;
	line-height: 15px;
	text-align: center;
	margin-left: 5px;
	background-color: #2F2D2E;
	-webkit-box-shadow: 1px 1px 2px 0 #000000;
	box-shadow: 1px 1px 2px 0 #000000;
	font-weight: bold;
}

#rc_craft ul.sub_craft {
	display: inline-block;
	margin: 5px 0 0 40px;
	padding: 5px 16px 0px 10px;
	background-color: #484647;
	-webkit-box-shadow: 1px 1px 2px 0 #000000;
	box-shadow: 1px 1px 2px 0 #000000;
	-webkit-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
}

#rc_craft ul.sub_craft_up, #rc_craft ul.sub_craft_furnace {
	display: none;
	margin: 5px 0 5px 10px;
	background-color: #1f1d1e;
	-webkit-box-shadow: 1px 1px 2px 0 #000000;
	box-shadow: 1px 1px 2px 0 #000000;
	padding: 5px 10px 1px 10px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}

#rc_craft ul.sub_craft_furnace {
	margin: 5px 0 5px 40px;
}

#rc_craft li.sub_craft {
	background-color: #484647;
	-webkit-box-shadow: 1px 1px 2px 0 #000000;
	box-shadow: 1px 1px 2px 0 #000000;
	padding: 5px 15px 5px 5px;
	margin: 0 10px 2px 0;
}
#rc_inventory_button {
    height: 32px;
    margin:10px 0 10px 0;
    -webkit-box-shadow: 1px 1px 2px 0 #000000;
    box-shadow: 1px 1px 2px 0 #000000;
}
#rc_inventory_button button{
    float: left;
    width: 20%;
    height: 100%!important;
    border-top: 0;
    border-right:1px solid #2F2D2E;
}
#rc_inventory_button button:active{
    border-right:1px solid #2F2D2E;
}

#rc_inventory_button .rc_select{
    /*float: right;*/
    margin:0;
    width: 60%;
}
#rc_inventory_button .rc_select select{
    padding-right: 0px;
    width: 109%;
}
